@model WebOdev.Models.Food

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/@Model.Resim')">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white bg-success mb-3">@Model.Category.CategoryName</span>
                    <h1 class="mb-4"><a href="#">@Model.Name</a></h1>
                    <div class="post-meta align-items-center text-center">
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            @* LongText-- >  Blog Long detail !!!Commentler gelecek *@
            <div class="col-md-12 col-lg-10 main-content">
                <div class="post-content-body">
                    <p>
                        @Model.Description
                    </p>


                </div>
            </div>


            </div>

        </div>
    </div>
</section>